<div class="row">
    <div class="small-10 small-centered columns">
<% @articles.each do |article| %>
<div class="panel">
    <h4><%= article.title %></h4>
    <p><%= article.content %></p>
    <span class="label"><%= article.style %></span>
    <ul class="inline-list"><li><%= link_to 'Show', article %></li>
    <% if article.user_id.eql?session[:user_id] %>
      <li><%= link_to 'Update', edit_article_path(article) %></li>
      <li><%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
    </ul>
<% end %>
<%= link_to 'Post Blog', new_article_path ,class: 'button [tiny small large]'%>
</div>
</div>
