<div class="row">
    <div class="small-10 small-centered columns">
<p id="notice"><%= notice %></p>

<p>
  <%= @article.title %>
</p>

<p>
  <%= @article.content %>
</p>
<p>
  <%= @article.style %>
</p>
<% if @article.user_id.eql?session[:user_id] %>
	<%= link_to 'Edit', edit_article_path(@article) %>
<% end %> 
</div>
</div>
